a {
    text-decoration: none;
    color: inherit;
}

.button {
    padding: 8px 14px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    border: 1px solid var(--primary-button-bg-color);
    color: var(--primary-button-bg-color);
}

.primary {
    background-color: var(--primary-button-bg-color);
    color: var(--primary-button-text-color);
}

.primary:hover {
    cursor: pointer;
    background-color: var(--primary-text-color);
}

.secondary {
    border-color: var(--primary-color-shade1);
}

.secondary:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: #1a4443;
}