:root {
    --primary-color: #154243;
    --primary-color-shade1: #90ACA8;
    --primary-button-bg-color: #255856;    
    --primary-button-bg-dark-color: #1a4443;
    --primary-button-text-color: #f1f5f5;
    --primary-bg-color: #FEFDFD;
    --primary-text-color: #0B3636;
    --text-highlight-color: #E8B782;
    --font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
             'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
             'Helvetica Neue', sans-serif;
    --gray-light-text: #303030;
}