.about-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 70vh;
    width: 100%;
    gap: 60px;
    margin: 30px 0;
    justify-content: end;
}

.about-grid {
    display: grid;
}

.about-col-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.summary {
    line-height: 1.5;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--gray-light-text);
    max-width: 560px;
}

@media (max-width: 768px) {
    .summary {
        font-size: 12px;
    }
}

.tech-strip {
    align-self: center;
    font-size: 24px;
    margin-top: 32px;
    padding: 10px;
    color: var(--primary-color);
    opacity: 0.8;
}


.about-sub-header {
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.about-sub-header strong {
    font-weight: 700;
    color: var(--primary-color);
}

.about-col-right {
    display: flex;
    flex-direction: column;
    padding: 25px 40px 0 40px;
}

.highlights {
    font-size: 24px;
}

.highlight-keys {
    list-style: none;
    padding: 30px 0 30px 0;
    line-height: 2.5;
    font-size: 16px;
}

.highlight-keys i {
    font-weight: 900;
    margin-right: 8px;
}