.project-page {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 70vh;
    width: 100%;
    gap: 0px;
    margin: 30px 0;
    justify-content: top;
}

.section-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.sub-heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: #e5e4e3;
    border-radius: 4px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.project-title {
    font-size: 14px;
    word-spacing: 2px;
    font-weight: 700;
    margin-bottom: 14px;
    text-align: center;
}

.project-summary {
    font-size: 12px;
    color: var(--gray-light-text);
    text-align: center;
    margin-bottom: 15px;
}

.project-role {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--primary-text-color);
}

.project-tech-stack {
    font-size: 10px;
    color: var(--primary-color-shade1);
    margin-bottom: 15px;
    font-style: italic;
}

.project-responsibilities strong {
    font-size: 13px;
    color: var(--primary-text-color);
    display: block;
    margin-bottom: 10px;
}

.project-responsibilities {
    font-size: 12px;
    color: var(--primary-text-color);
    margin-bottom: 15px;
}

.project-cta {
    display: flex;
    gap: 10px;
    justify-content: center;
    color: var(--primary-text-color);
    font-size: 12px;
    margin-top: 10px;
}